@model IEnumerable<TrueBalances.Models.Group>

@section SpecificStylesheet {
    <link rel="stylesheet" href="~/css/home_index.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Liste des groupes";
    var groups = Model ?? new List<TrueBalances.Models.Group>();
    var user = ViewBag.currentUser;
}

<div class="container mt-5">
    <!-- Section de bienvenue -->
    <div class="text-center mb-5">
        <h1 class="display-3 font-weight-bold">
            @if (User.Identity.IsAuthenticated)
            {
                @:Bonjour, @user.FirstName @user.LastName !
            }
            else
            {
                @:Bonjour et bienvenue !
            }
        </h1>
        <p class="lead">Découvrez vos groupes, gérez vos dépenses et partagez des moments inoubliables avec TrueBalances.</p>
        <img src="~/logoTrue.png" alt="Logo de l'application">
    </div>

    <!-- Liste des groupes -->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            @foreach (var group in groups)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card border-light shadow-sm rounded">
                        <div class="card-body">
                            <h5 class="card-title text-primary">@group.Name</h5>
                            <p class="card-text text-muted">
                                <i class="fas fa-users"></i> @(group.Members.Count() > 1 ? $"{group.Members.Count()} membres" : $"{group.Members.Count()} membre")
                            </p>
                            <a asp-action="Details" asp-route-id="@group.Id" class="btn btn-info btn-block">Voir les détails</a>
                        </div>
                        
                    </div>
                </div>
            }
        </div>

        <!-- Bouton Ajouter un Groupe -->
        <div class="text-center mt-4">
            <a asp-action="Create" class="btn btn-success btn-lg">Créer un nouveau groupe</a>
        </div>
    }
    else
    {
        <div class="text-center mt-4">
            <a class="btn btn-primary btn-lg mr-2" asp-area="Identity" asp-page="/Account/Register">S'inscrire</a>
            <a class="btn btn-secondary btn-lg" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
        </div>
    }
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
