@model IEnumerable<TrueBalances.Models.Group>

@{
    ViewData["Title"] = "Liste des groupes";
}
@{
    var groups = Model ?? new List<TrueBalances.Models.Group>();
}

<h2>Liste des groupes</h2>
<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Ajouter un groupe</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nom du groupe</th>
            <th>Membres</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in groups)
        {
            <tr>
                <td>@group.Name</td>
                <td>@group.Members.Count()</td>
                @* <td>
                    @foreach (var member in group.Members)
                    {
                        <span>@member.CustomUserId</span>

                        <br />
                    }
                </td> *@
                <td>
                    <a asp-action="Edit" asp-route-id="@group.Id" class="btn btn-sm btn-warning">Editer</a>
                    <a asp-action="Details" asp-route-id="@group.Id" class="btn btn-sm btn-info">Détails</a>
                    <a asp-action="Delete" asp-route-id="@group.Id" class="btn btn-sm btn-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* @model IEnumerable<TrueBalances.Models.Group>

@{
    ViewData["Title"] = "Groupes";
}

<h1 class="display-4 text-center my-4">Gestion des groupes</h1>

<p class="text-center">
    <a asp-action="AddGroup" class="btn btn-primary">Ajouter un groupe</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editer</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Détails</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}

 *@