@model TrueBalances.Models.Expense

@{
    ViewData["Title"] = "Supprimer une dépense";
}

<style>
    .custom-header {
        background-color: #08a045;
        color: white;
        padding: 10px;
        text-align: center;
        border-radius: 0.25rem;
    }

    .details-container {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 0.25rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

        .details-container dl {
            margin-bottom: 0;
        }

        .details-container dt {
            font-weight: bold;
            color: #073b3a;
        }

        .details-container dd {
            margin-left: 0;
            color: #333;
        }

    .btn-custom {
        background-color: #08a045; /* Couleur de fond verte */
        border-color: #08a045; /* Bordure verte */
        border-radius: 0.25rem;
        color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, box-shadow 0.3s;
    }

        .btn-custom:hover {
            background-color: #007d1e; /* Couleur de fond verte plus foncée au survol */
            border-color: #007d1e; /* Bordure verte plus foncée au survol */
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }
</style>

<h1 class="custom-header">@ViewData["Title"]</h1>

<hr />
<div class="details-container">
    <h4>Êtes-vous sûr de vouloir supprimer cette dépense ?</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-custom" />
        <button type="button" class="btn btn-custom" onclick="window.location.href='@Url.Action("Index")'">Retour à la liste</button>
    </form>
</div>
