@model TrueBalances.Models.Expense

@section SpecificStylesheet {
    <link rel="stylesheet" href="~/css/details_container.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Supprimer une dépense";
}

<h1 class="custom-header">@ViewData["Title"]</h1>

<hr />
<div class="details-container">
    <h4>Êtes-vous sûr de vouloir supprimer cette dépense ?</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-custom" />
        <button type="button" class="btn btn-custom" onclick="window.location.href='@Url.Action("Index")'">Retour à la liste</button>
    </form>
</div>
