@using TrueBalances.Areas.Identity.Data

@model IEnumerable<TrueBalances.Models.Expense>

@section SpecificStylesheet {
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Index";

    var currentUserId = ViewBag.CurrentUserId;
    var users = ViewBag.Users as List<CustomUser>;
    var debts = ViewBag.Debts as Dictionary<string, decimal>;
    var credits = ViewBag.Credits as Dictionary<string, decimal>;
}

<div class="container">

    <div class="row">
        <div class="col-12 text-center mb-3">
            <h1>Gestion des Dépenses</h1>
        </div>
        <p>
            <a asp-action="Create" class="btn btn-primary">Ajouter une dépense</a>
        </p>
    </div>

    <div class="row">
        <!-- Colonne pour les dépenses plus large -->
        <div class="col-md-8">
            <table class="table table-striped table-bordered">
                <thead class="custom-table-header">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Title)</th>
                        <th>@Html.DisplayNameFor(model => model.Amount)</th>
                        <th>@Html.DisplayNameFor(model => model.Date)</th>
                        <th>@Html.DisplayNameFor(model => model.Category)</th>
                        <th>@Html.DisplayNameFor(model => model.CustomUser)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.Amount) €</td>
                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                            <td>@Html.DisplayFor(modelItem => item.Category!.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.CustomUser.FirstName)</td>

                            <td class="action-links text-center">
                                @* Affichage du bouton modifier si la dépense à été crée par l'utilisateur courant *@
                                @if (currentUserId == item.CustomUserId)
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id" title="Modifier">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                }

                                <a asp-action="Details" asp-route-id="@item.Id" title="Détails">
                                    <i class="fas fa-info-circle"></i>
                                </a>

                                @* Affichage du bouton supprimer si la dépense à été crée par l'utilisateur courant *@
                                @if (currentUserId == item.CustomUserId)
                                {
                                    <a asp-action="Delete" asp-route-id="@item.Id" title="Supprimer">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Colonne pour le récapitulatif plus étroite -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center custom-header">
                    <h2 class="mb-0">Récapitulatif</h2>
                </div>
                <div class="card-body">
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Sommes dues</th>
                                <th>Sommes attendues</th>
                                <th>True Balance</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var userId in debts.Keys)
                            {
                                var user = users.Find(u => u.Id == @userId);
                                <tr class="custom-table-info">
                                    <td>@user.FirstName</td>
                                    <td>
                                        @debts.GetValueOrDefault(userId) € @* Penser à faire la version avec la condition dans le cas où il n'y a pas de dette à ce nom*@
                                    </td>
                                    <td>
                                        @credits.GetValueOrDefault(userId) € @* Idem mais pour les crédits + "L'itérateur" ne convient pas *@
                                    </td>
                                    <td>
                                        @(debts.GetValueOrDefault(userId) - credits.GetValueOrDefault(userId)) € @* Idem mais pour les crédits + "L'itérateur" ne convient pas *@
                                    </td>
                                </tr>
                            }

                        </tbody>

                        <tfoot>
                            <tr class="custom-table-info">
                                <td></td>
                                <td></td>
                                <td><a asp-action="Solde" class="btn btn-primary">Tous les soldes</a></td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>

    </div>

    <div>
        <a asp-controller="Home" asp-action="Index" style="color: #073b3a;">Retour à l'accueil</a>
    </div>
</div>
