@using Microsoft.AspNetCore.Identity
@using TrueBalances.Areas.Identity.Data
@model IEnumerable<TrueBalances.Models.Expense>

@section SpecificStylesheet {
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
}

@{
    @inject UserManager<CustomUser> UserManager

    string customUserId = UserManager.GetUserId(User);

    ViewData["Title"] = "Index";

    // Valeur de ViewBag.customUsers est affectée dans l'action Index de ExpenseController
    var users = ViewBag.customUsers as List<CustomUser>;
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center mb-3">
            <h1>Gestion des Dépenses</h1>
        </div>
            <p>
            <a asp-action="Create" class="btn btn-primary">Ajouter une dépense</a>
            </p>

    </div>

    <div class="row">
        <!-- Colonne pour les dépenses plus large -->
        <div class="col-md-8">
            <table class="table table-striped table-bordered">
                <thead class="custom-table-header">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Title)</th>
                        <th>@Html.DisplayNameFor(model => model.Amount)</th>
                        <th>@Html.DisplayNameFor(model => model.Date)</th>
                        <th>@Html.DisplayNameFor(model => model.Category)</th>
                        <th>@Html.DisplayNameFor(model => model.CustomUser)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.Amount) €</td>
                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                            <td>@Html.DisplayFor(modelItem => item.Category!.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.CustomUser.FirstName)</td>
                            <td class="action-links text-center">
                                @if (customUserId == item.CustomUserId)
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id" title="Modifier">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                }
                                
                                <a asp-action="Details" asp-route-id="@item.Id" title="Détails">
                                    <i class="fas fa-info-circle"></i>
                                </a>

                                @if (customUserId == item.CustomUserId)
                                {
                                    <a asp-action="Delete" asp-route-id="@item.Id" title="Supprimer">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Colonne pour le récapitulatif plus étroite -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center custom-header">
                    <h2 class="mb-0">Récapitulatif</h2>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Sommes dues</th>
                                <th>Sommes attendues</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in users)
                            {
                                <tr class="custom-table-info">
                                    <td>@user.FirstName</td>
                                    @{
                                        var debt = Math.Round(Model.Where(e => e.CustomUserId != user.Id).Sum(e => e.Amount / users.Count), 2);
                                        // var debt = Math.Round(Model.Where(e => e.CustomUserId != user.Id && e.Participants.Any(p => p.Id == user.Id)).Sum(e => e.Amount / e.Participants.Count), 2);
                                        var credit = Math.Round(Model.Where(e => e.CustomUserId == user.Id).Sum(e => (e.Amount / users.Count) * (users.Count - 1)), 2);
                                        // var credit = Math.Round(Model.Where(e => e.CustomUserId == user.Id).Sum(e => (e.Amount / e.Participants.Count) * (e.Participants.Count - 1)), 2);
                                    }
                                    <td>@debt €</td>
                                    <td>@credit €</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Index" style="color: #073b3a;">Retour à l'accueil</a>
    </div>
</div>
