@model TrueBalances.Models.ViewModels.ExpenseViewModel

@section SpecificStylesheet {
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Gestion des Dépenses";
}

<div class="container">

    <div class="row">
        <div class="col-12 text-center mb-3">
            <h1>@ViewData["Title"]</h1>
            <!-- Ajouter un bouton pour créer une nouvelle dépense -->
        </div>
        <p>
            <a asp-action="Create" asp-route-groupId="@Model.GroupId" class="btn btn-primary">Ajouter une dépense</a>
        </p>
    </div>

    <div class="row">

        <!-- Colonne pour le récapitulatif plus étroite -->
        <div class="col-md-4">
            <div class="card text-white mb-4 shadow" style="background-color: #e67e22;">
                <!-- Orange -->
                <div class="card-body d-flex flex-column align-items-center">
                    <h5 class="card-title">
                        Dette et crédit 
                        @(Model.DebtsOfCurrentUser.Any(d => d.Value < 0) && !Model.DebtsOfCurrentUser.Any(d => d.Value > 0) ? Html.Raw("<i class='fa-solid fa-carrot'></i>") : "")
                    </h5>
                    <ul class="list-group list-group-flush">
                        @if (Model.DebtsOfCurrentUser.Any(d => d.Value != 0))
                        {
                            @foreach (var userId in Model.DebtsOfCurrentUser.Keys)
                            {
                                var user = Model.Users.Find(u => u.Id == userId);
                                var debt = Model.DebtsOfCurrentUser.GetValueOrDefault(userId);

                                @if (debt < 0)
                                {
                                    <li class="list-group-item" style="background-color: #e67e22; color: #FFFFFF;">
                                        @user.FirstName me doit @(-debt) €
                                    </li>
                                }
                                else if (debt != 0)
                                {
                                    <li class="list-group-item" style="background-color: #e67e22; color: #FFFFFF;">
                                        Je dois @debt € à @user.FirstName
                                    </li>
                                }
                            }
                        }
                        else
                        {
                            <li class="list-group-item" style="background-color: #e67e22; color: #FFFFFF;">
                                Je n'ai que de bons amis
                            </li>
                        }
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Balances" asp-route-groupId="@Model.GroupId" class="btn btn-light text-dark">Tous les soldes</a>
                </div>
            </div>
        </div>

        @foreach (var item in Model.Expenses)
        {
            <div class="col-md-4">
                <div class="card text-white mb-4 shadow" style="background-color: #137547;">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title">
                            <i class="bi bi-currency-dollar">
                                @item.Title
                                @if (item.CategoryId != 4)
                                {
                                    @if (item.CategoryId != null)
                                    {
                                        @: : @Html.DisplayFor(modelItem => item.Category!.Name)
                                    }

                                }
                                else
                                {
                                    @if (Model.CurrentUserId == item.UserId)
                                    {
                                        @: :
                                        <a asp-action="Alert" asp-route-id="@item.Id" title="Cette dépense doit-être re-catégorisé">
                                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                        </a>
                                    }
                                }
                            </i>
                        </h5>
                        <p class="display-4 font-weight-bold">@item.Amount €</p>
                        <p class="mb-0">@item.User.FirstName le @Html.DisplayFor(modelItem => item.Date)</p>
                    </div>
                    <div class="card-footer text-center">
                        @* Affichage des boutons d'action *@
                        @if (Model.CurrentUserId == item.UserId)
                        {
                            <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id" asp-route-groupId="@item.GroupId" title="Modifier" style="border-color: #FFFFFF; color: #FFFFFF;">
                                <i class="fas fa-edit"></i>
                            </a>
                        }
                        <a class="btn btn-sm btn-outline-primary" asp-action="Details" asp-route-id="@item.Id" asp-route-groupId="@item.GroupId" title="Détails" style="border-color: #FFFFFF; color: #FFFFFF;">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        @if (Model.CurrentUserId == item.UserId)
                        {
                            <a class="btn btn-sm btn-outline-primary" asp-action="Delete" asp-route-id="@item.Id" asp-route-groupId="@item.GroupId" title="Supprimer" style="border-color: #FFFFFF; color: #FFFFFF;">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div>
        <a asp-controller="Group" asp-action="Details" asp-route-id="@Model.GroupId" class="btn btn-secondary">Retour à l'accueil du groupe</a>
    </div>
</div>

