@using TrueBalances.Areas.Identity.Data

@model IEnumerable<TrueBalances.Models.Expense>

@{
    ViewData["Title"] = "Soldes";

    var currentUserId = ViewBag.CurrentUserId;
    var users = ViewBag.Users as List<CustomUser>;
    var debtsOfEverybody = ViewBag.DebtsOfEverybody as List<UserDebtViewModel>;
}


<div class="container">

    <div class="row">
        <div class="col-12 text-center mb-3">
            <h1>Soldes</h1>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            @foreach (var userDebts in debtsOfEverybody)
            {
                var user = users.Find(u => u.Id == @userDebts.Id);

                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header text-center">
                            <h5>@user.FirstName</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                @if (userDebts.Debts.Any(d => d.Value != 0))
                                {
                                    @foreach (var debt in userDebts.Debts)
                                    {
                                        var other = users.Find(u => u.Id == @debt.Key);

                                        @if (debt.Value < 0)
                                        {
                                            <li class="list-group-item">
                                                @other.FirstName lui doit @(-debt.Value) €
                                            </li>
                                        }
                                        else if (debt.Value != 0)
                                        {
                                            <li class="list-group-item">
                                                Doit @debt.Value € à @other.FirstName
                                            </li>
                                        }
                                    }
                                }
                                else
                                {
                                    <li class="list-group-item">
                                        N'a que de bons amis
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<div>
    <a asp-action="Index" class="action-link">Retour à la liste</a>
</div>